<p id="notice"><%= notice %></p>

<h1>Tests</h1>
<ul><% @topics.order("orderid asc").each do |topic| %><br>
      <li><%= topic.name%></li>
          <ol><% @tests.where(topic_id: topic.id).each do |test| %>
              <li><b><%= test.name %></b>
              <%= test.criteria %>
              <%= link_to 'Show', test_path(test) %>
              <%= link_to 'Edit', edit_test_path(test) %>
              <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %></ol><br>
  <% end %></ul>


<%= link_to 'New Test', new_test_path %>
<br><%= link_to 'New Topic and Change Topics', new_topic_path %>
